<section style="margin-bottom: 10px">
    <input type="text" class="form-control" placeholder="Busque por nombre de producto"
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="async () => await OnSearchChanged.InvokeAsync(SearchTerm)" />
</section>