@model UE_ManagerWebApp.Models.Users

@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login";
}
    <div class="container-fluid">
        
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <img src="~/images/evertec-logo.png" class="img-fluid" width="200" height="40">
                                <br />
                                <br />
                                <br />
                                <br />
                                <h2 class="login-heading mb-4">Gestor de Incidentes UET</h2>
                                <h3 class="login-heading mb-4">Iniciar Sesión</h3>
                                <form asp-controller="Authentication" asp-action="LoginUser" method="post">
                                    <strong>@ViewBag.Message</strong>
                                    <div class="form-label-group">
                                        <input class="form-control" asp-for="Username" value="jcervantes" placeholder="Username" required autofocus />
                                        <label for="inputEmail">Usuario</label>
                                        <span asp-validation-for="Username"></span>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" class="form-control" asp-for="Password" value="Megapanza17" placeholder="Password" required />
                                        <span asp-validation-for="Password"></span>
                                        <label for="inputPassword">Contraseña</label>
                                    </div>

                                    @*<div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                                    </div>*@
                                    <button class="btn btn-lg btn-warning btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" value="LoginUser">Iniciar Sesión</button>
                                    @*<div class="text-center">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>*@
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@*<strong>@ViewBag.Message</strong>
<form asp-controller="Authentication" asp-action="LoginUser" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username" value="jcervantes" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input type="password" class="form-control" asp-for="Password" value="evertec123" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="input-group" id="show_hide_password">
        <input class="form-control" type="password">
        <div class="input-group-addon">
            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit" value="LoginUser">
        Iniciar sesión
    </button>
</form>*@ 