<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <location path="." inheritInChildApplications="false">
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\UE_ManagerWebApp.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  </location>
  <connectionStrings>
    <!--<add name="AuthDBConn" connectionString="Server=SQLUEN;Database=UE_AUTH_DB;User Id=ts;Password=ts001;Trusted_Connection=false;MultipleActiveResultSets=true;Persist Security Info=true;" /> -->
    <!--<add name="UETDBConn" connectionString="Server=SQLUEN;Database=UE_TICKETS_MANAGER;User Id=ts;Password=ts001;Trusted_Connection=false;MultipleActiveResultSets=true;Persist Security Info=true;" -->
    <add name="AuthDBConn" connectionString="Server=SQLUEN;Database=UE_AUTH_DB;User Id=ts;Password=ts001;" />
    <add name="UETDBConn" connectionString="Server=SQLUEN;Database=UE_TICKETS_MANAGER;User Id=ts;Password=ts001;" />
  </connectionStrings>
</configuration>