@model UE_ManagerWebApp.Models.Departments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Departments</h4>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creation_Date" class="control-label"></label>
                <input asp-for="Creation_Date" class="form-control" />
                <span asp-validation-for="Creation_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create_User" class="control-label"></label>
                <input asp-for="Create_User" class="form-control" />
                <span asp-validation-for="Create_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_Date" class="control-label"></label>
                <input asp-for="Update_Date" class="form-control" />
                <span asp-validation-for="Update_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_User" class="control-label"></label>
                <input asp-for="Update_User" class="form-control" />
                <span asp-validation-for="Update_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
