USE [master]
GO
/****** Object:  Database [UE_AUTH_DB]    Script Date: 7/12/2020 7:52:51 PM ******/
CREATE DATABASE [UE_AUTH_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UE_AUTH_DB', FILENAME = N'D:\Program Files\SQL Server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\UE_AUTH_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UE_AUTH_DB_log', FILENAME = N'D:\Program Files\SQL Server 2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\UE_AUTH_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UE_AUTH_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UE_AUTH_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/12/2020 7:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/12/2020 7:52:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[AccessLevel] [nvarchar](max) NULL,
	[ReadOnly] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200518211016_Users', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200521162135_addNewColumnsUsers', N'3.1.3')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FirstName], [LastName], [EmailID], [AccessLevel], [ReadOnly]) VALUES (1, N'jcervantes', N'LSty+2k566fjTFz4GYkyng==', N'Jose', N'Cervantes', N'jose.cervantes@evertecinc.com', N'ADMIN', N'WRITE_ACCESS')
INSERT [dbo].[Users] ([Id], [Username], [Password], [FirstName], [LastName], [EmailID], [AccessLevel], [ReadOnly]) VALUES (2, N'echacon', N'BG2rzzbWLXvOgeHgLYc+ng==', N'Ernesto', N'Chacon', N'ernesto.chacon@evertecinc.com', N'ANALYST', N'WRITE_ACCESS')
INSERT [dbo].[Users] ([Id], [Username], [Password], [FirstName], [LastName], [EmailID], [AccessLevel], [ReadOnly]) VALUES (1002, N'daleman', N'BG2rzzbWLXvOgeHgLYc+ng==', N'Diego', N'Aleman', N'diego.aleman@evertecinc.com', N'SUPERVISOR', N'WRITE_ACCESS')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
